In [ ]:
# 1
# there is a built up fucntion in python for this quastion.

In [1]:
import pandas as pd

In [2]:
cast = pd.read_csv('C:/Users/Alon Elisha/Downloads/cast.csv')

In [3]:
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [8]:
#1
one = cast.groupby('title') 
one1 = one.get_group('Hamlet')
one2 = one1.groupby('year') # orgenize the titles in the same year together, because they are the same movie.
print("there are", len(one2), " movies with the title of Hamlet")

there are 17  movies with the title of Hamlet

In [16]:
#2
# there may be a mistake on how I interperted the movies. maybe a movie title in each year is considered, the same movie.
s3 = cast.groupby('title') # create groups of titles.
s4 = s3.get_group('Treasure Island') # get the group of all the 'TREASURE ISLAND' titles.
s5 = s4.sort_values('year') # sort it by year(# check description of the function).
s5

,title,year,name,type,character,n
1312766,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3280557,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3046750,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1167783,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1195421,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
...,...,...,...,...,...,...
1663860,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1731182,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1813707,Treasure Island,1999,Richard Schave,actor,Man,21.0
2710458,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
815338,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

In [17]:
#3
three = cast.groupby('title') # create groups of titles.
three1 = s3.get_group('Hamlet') # get Hamlet group of titles.
three3 = three1.loc[three1['year'] == 1921] # take the rows that has 1921 value in year.
len(three3) # print the number of rows.

9

In [18]:
#4
four = cast.groupby('title') 
four1 = four.get_group('Hamlet')
lower_year = 1910 # we use them to check each decade
upper_year = 1919# we use them to check each decade
# we'll check for each decade until this day, meaning until the decade of 2020, including.
# by checking the hamlet title gruop, we saw that the earliest HAMLET movie was in 1910, and the latest in 2015.
# so we'll check each decade between them, including the ends.
for i in range(11):
    the_movies = four1.loc[(four1['year'] >= lower_year) & (four1['year'] <= upper_year)] # in panda, to add a contition, we use &, not &&, or 'and'
    print("in the years",lower_year, " and", upper_year," there were", len(the_movies), " Hamlet movies")
    lower_year = lower_year + 10
    upper_year = upper_year + 10

in the years 1910  and 1919  there were 28  Hamlet movies
in the years 1920  and 1929  there were 9  Hamlet movies
in the years 1930  and 1939  there were 0  Hamlet movies
in the years 1940  and 1949  there were 25  Hamlet movies
in the years 1950  and 1959  there were 1  Hamlet movies
in the years 1960  and 1969  there were 57  Hamlet movies
in the years 1970  and 1979  there were 19  Hamlet movies
in the years 1980  and 1989  there were 3  Hamlet movies
in the years 1990  and 1999  there were 84  Hamlet movies
in the years 2000  and 2009  there were 55  Hamlet movies
in the years 2010  and 2019  there were 18  Hamlet movies

In [19]:
#5
five = cast.dropna(subset=['n'])
# create a series with movies in the 1950 decade and offer a leading role (n = 1). 
five1 = five.loc[(five['year'] >= 1950) & (five['year'] <= 1959) & (five['n'] == 1)]
year = 1950
sum = 0
# moving between each year
for i in range(10):
    # read the description of loc
    lead_actors = five1.loc[(five1['year'] == year) & (five1['type'] == 'actor') ]
    lead_actress = five1.loc[(five1['year'] == year) & (five1['type'] == 'actress') ]
    print("in the year", year, "there were", len(lead_actors), " leading roles for actors")
    print("in the year", year, "there were", len(lead_actress), " leading roles for actresses")
    print()
    year = year + 1
    sum = sum + len(lead_actors) + len(lead_actress)

in the year 1950 there were 604  leading roles for actors
in the year 1950 there were 271  leading roles for actresses

in the year 1951 there were 633  leading roles for actors
in the year 1951 there were 272  leading roles for actresses

in the year 1952 there were 591  leading roles for actors
in the year 1952 there were 284  leading roles for actresses

in the year 1953 there were 634  leading roles for actors
in the year 1953 there were 290  leading roles for actresses

in the year 1954 there were 626  leading roles for actors
in the year 1954 there were 298  leading roles for actresses

in the year 1955 there were 606  leading roles for actors
in the year 1955 there were 264  leading roles for actresses

in the year 1956 there were 614  leading roles for actors
in the year 1956 there were 288  leading roles for actresses

in the year 1957 there were 708  leading roles for actors
in the year 1957 there were 284  leading roles for actresses

in the year 1958 there were 694  leading roles for actors
in the year 1958 there were 275  leading roles for actresses

in the year 1959 there were 678  leading roles for actors
in the year 1959 there were 287  leading roles for actresses

In [20]:
#6
six = cast.dropna(subset=['n'])
# create a series with movies in the 1950 decade and offer a leading role (n = 1). 
six1 = six.loc[(five['year'] >= 1990) & (five['n'] == 1)]
six2 = six1.groupby('name')
#for a,i in six2:
#    print(a)
#    print(i)
#size fuction in groupby gives a series with the numebr of rows in each group and the name of the group
six3 = six2.size()
# sort_values will put the series in a desceinding order with (ascending = False).
six4 = six3.sort_values(ascending = False)
# at this phase,six4 is a series. six4 has the names as the indexes, and the value of rows as the value in each index.
# for that, we'll take the indexes and put them in a new
six5 = six4.head(10).index # index is not callable
for name in six5:
    print(name)

Mohanlal
Mammootty
Akshay Kumar
Jayaram
Andy Lau
Ajay Devgn
Eric Roberts
Amitabh Bachchan
Nagarjuna Akkineni
Dilip

In [21]:
# 7 
seven = cast.dropna(subset=['n'])
seven1 = seven.groupby('name')
the_group = seven1.get_group('Frank Oz')
sz = the_group.groupby('year')
size_group = sz.size()
new_size_group = size_group.index
new_size_group = new_size_group.sort_values()
for i in new_size_group:
    print(i)

1979
1980
1981
1982
1983
1984
1985
1986
1992
1996
1998
1999
2001
2002
2005
2015